# Normalize line endings automatically for all text files
* text=auto

# Binary files stored through Git LFS if committed
*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jks filter=lfs diff=lfs merge=lfs -text
*.keystore filter=lfs diff=lfs merge=lfs -text
